<!------ スライドショー ------>
<div class="row">
    <div class="show_area">
        <div class="show_item"><img class="show_img" src="/assets/show1.jpg"></div>
        <div class="show_item"><img class="show_img" src="/assets/show2.jpg"></div>
        <div class="show_item"><img class="show_img" src="/assets/show3.jpg"></div>
    </div>
    <script>
    $(function() {
        $('.show_area').slick({
            dots: true,
        });
    });
    </script>
</div>

<!------ お気に入り数ランキング ------>
<div class="row">
	<% @posts.each do |post| %>
	    <div class="col-xs-12 col-md-6 col-lg-4">
	        <table class="post-block">
	        	<tr>
					<td><%= link_to post_path(post) do %><%= attachment_image_tag post, :image, format: 'jpeg', size: "200x200", fallback: "no-image.jpg", class: "fire-img" %></td>
					<% end %>
				</tr>
				<tr>
					<td class="festival_name"><%= post.festival %></td>
			    </tr>
				<tr>
					<td class="location"><%= post.prefecture %><%= post.city %></td>
			    </tr>
                <tr>
                    <td class="profile_name"><%= attachment_image_tag post.user, :profile_image, format: 'jpeg', size:'50x50', class: "img-circle" %>by<%= post.user.name %></td>
                </tr>
	        </table>
	    </div>
    <% end %>
</div>
<!------ カレンダー ------>
<div class="row-xs-12">
    <div class="calendar col-xs-12">
      <%= month_calendar events: @events do |date, events| %>
	      <%= date.day %>
	      <% events.each do |event| %>
		    <div>
		      <%= link_to event.festival, event_path(event) %>
		    </div>
          <% end %>
      <% end %>
    </div>
</div>
<!----- クリッカブルマップ ------->
<div class="row">
    <div class="col-6 offset-3">
        
    </div>
        
    <script src="/path/to/jquery.min.js"></script>
    <script src="/path/to/jquery.japan-map.min.js"></script>
    <script>
        $(function(){        
            var areas = [
                {code : 1, name: "北海道地方", color: "#7f7eda", hoverColor: "#b3b2ee", prefectures: [1]},
                {code : 2, name: "東北地方",   color: "#759ef4", hoverColor: "#98b9ff", prefectures: [2,3,4,5,6,7]},
                {code : 3, name: "関東地方",   color: "#7ecfea", hoverColor: "#b7e5f4", prefectures: [8,9,10,11,12,13,14]},
                {code : 4, name: "中部地方",   color: "#7cdc92", hoverColor: "#aceebb", prefectures: [15,16,17,18,19,20,21,22,23]},
                {code : 5, name: "近畿地方",   color: "#ffe966", hoverColor: "#fff19c", prefectures: [24,25,26,27,28,29,30]},
                {code : 6, name: "中国地方",   color: "#ffcc66", hoverColor: "#ffe0a3", prefectures: [31,32,33,34,35]},
                {code : 7, name: "四国地方",   color: "#fb9466", hoverColor: "#ffbb9c", prefectures: [36,37,38,39]},
                {code : 8, name: "九州地方",   color: "#ff9999", hoverColor: "#ffbdbd", prefectures: [40,41,42,43,44,45,46]},
                {code : 9, name: "沖縄地方",   color: "#eb98ff", hoverColor: "#f5c9ff", prefectures: [47]},
            ];

            $("#map-container").japanMap({
                width: 800,
                selection: "prefecture",
                areas: areas,
                backgroundColor : "#fff",
                borderLineColor: "#000",
                borderLineWidth : 0.25,
                lineColor : "#fff",
                lineWidth: 1,
                drawsBoxLine: true,
                showsPrefectureName: true,
                prefectureNameType: "short",
                movesIslands : true,
                fontSize : 11,
                onSelect : function(data){
                }
            });
        });
    </script>
    <div id="map-container"></div>
</div>


