<h4>新規投稿</h4>
<%= form_for(@post, url: posts_path, method: :POST) do |f| %>
<form>
  <div class="row">

      <div class="col-xs-12 col-lg-5">
        <div class="img_box">
        <%= attachment_image_tag @post, :image, fallback: "no-image.jpg", id: "img_prev", format: 'jpeg'%>
        <%= f.attachment_field :image %>
        <!-- Googleマップ -->
        <div class="google-map-container">
         <%= render partial: 'google_maps',locals: { post: @post } %>
        </div>
        </div>

      <div class="col">
        <div class="form-group">
          <%= f.label "花火大会名(必須)",class: "post-new-index" %><br>
          <%= f.text_field :festival,size: "40",placeholder: "隅田川花火大会" %>
        </div>
        <div class="form-group">
         <!-- 評価 -->
            <div id="star">
              <%= f.label :rate,'評価(必須)',class: "post-new-index" %>
              <%= f.hidden_field :rate, id: :review_star %>
            </div>

         <!-- 評価javascript -->
            <script>
               $(function(){
            $('#star').raty({
              size     : 36,
              starOff:  '<%= asset_path('star-off.png') %>',
              starOn : '<%= asset_path('star-on.png') %>',
              starHalf: '<%= asset_path('star-half.png') %>',
              // Postモデルのrateカラムに値を保存する
              scoreName: 'post[rate]',
              half: true,
            });
          }); 
            </script>
        </div>
        <div class="form-group">
          <%= f.label "行った年(必須)", class: "post-new-index" %><br>
          <%= f.date_select :date, {end_year: Time.now.year, prompt:"--", start_year:2000,discard_month:true,discard_day:true, date_separator:'/'} %>
        </div>
        <div class="form-group">
          <%= f.label "都道府県(必須)", class: "post-new-index" %><br>
          <%= f.select :prefecture, Post.prefectures.keys, {} %>
        </div>
        <div class="form-group">
          <%= f.label "市区町村名(必須)", class: "post-new-index" %><br>
          <%= f.text_field :city,size: "40",placeholder: "江東区" %>
        </div>
        <div class="form-group">
          <%= f.label "おすすめの行き方、行く時間", class: "post-new-index" %><br>
          <%= f.text_field :transportation,size: "60"%>
        </div>
        <div class="form-group">
          <%= f.label "持っていくといいもの", class: "post-new-index" %><br>
          <%= f.text_field :belongings, size: "60" %>
        </div>
        <div class="form-group">
          <%= f.label "詳しく(必須)", class: "post-new-index" %><br>
          <%= f.text_area :impressions, size: "60x10" %>
        </div>
        <div class="form-group">
          <%= f.select :status, [["下書き", "draft"],["公開", "published"]], id: "status", class: "form-control" %>
          <%= f.submit('保存',class: 'btn btn-dark')%>
          <input type="hidden" id="lat" name="latitude" value="">
          <input type="hidden" id="lng" name="longitude" value="">
        </div>
      </div>

  </div>
</form>
<% end %>
