<h1>パスワード変更</h1>

<%= form_for(@user, url: edit_password_users_path, method: :PUT) do |f| %>

  <div class="field">
    <%= f.label :メールアドレス %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :現在のパスワード %><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="field">
    <%= f.label :新しいパスワード %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em>※<%= @minimum_password_length %>文字以上</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :新しいパスワード　%><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>


  <div class="actions">
    <%= f.submit "変更" %>
  </div>
<% end %>
