<%= form_for(@user) do |f| %>
  <div class="row">
	  <div class="col-xs-12 col-lg-6">
	    <h4>ユーザー編集</h4>
		    <%= attachment_image_tag @user, :profile_image, fallback: "no-image.jpg", id: "img_prev", format: 'jpeg', height:200 %>
		    <%= f.attachment_field :profile_image %>
	   </div>
	   <div class="col-xs-12 col-lg-6">
	     <h5>名前</h5>
		    <%= f.text_field :name %>
		 <h5>お住まいの都道府県</h5>
		    <%= f.select :prefecture, User.prefectures.keys, {} %>
		 <h5>自己紹介</h5>
			<%= f.text_area :introduction, :size=>"20x5" %>
			<% if @user.email == "test_user@com" %>
			<%= link_to "編集する",edit_user_path(current_user), id:"button", class: "btn btn-dark" %>
			<script>
				$('#button').on('click', function() {
                alert("テストユーザーは編集できません");
                });
			</script>
			<% else %>
			<%= f.submit('編集する',class: 'btn btn-dark') %>
			<% end %>
		</div>
    </div>
<% end %>

 	<div class="col-xs-12 float-right">
	<%= link_to "パスワード変更", edit_password_users_path, class: "btn-outline-secondary btn-sm"%>
	<% if @user.email == "test_user@com" %>
	<%= link_to "退会する",edit_user_path(current_user), id:"button2", class: "btn-outline-secondary btn-sm" %>
		<!-- <button id="button2", class='btn-outline-secondary btn-sm'>退会する</button> -->
		<script>
			$('#button2').on('click', function() {
	        alert("テストユーザーは退会できません");
	        });
		</script>
	<% else %>
		<%= link_to "退会する",cancel_confirmation_users_path, class: "btn-outline-secondary btn-sm" %>
	<% end %>
    </div>