<div class="row">

  <div class="col-xs-12 col-lg-2">
		<%= attachment_image_tag @user, :profile_image, format: 'jpeg', size:'100x100', fallback: "no-image.jpg", class: "img-circle"%>
		<!-- 今までの投稿で得た総いいいね数 -->
		<div><%= @user.name %>
		  <span class="fa-stack fa-lg">
          <span class="fa fa-heart fa-stack-2x" aria-hidden="true"></span>
          <span class="fa fa-stack-1x"><%= Like.where(post_id: @user.posts.ids).size %><span style="font-size: 0.6em;">いいね</span></span>
          </span>
        </div>
  </div>
  <div class="intro-area col-xs-12 col-lg-10"><%= @user.introduction %></div>
</div>

<div class="row">
    <% if user_signed_in? %>
		<% if @user.id == current_user.id %>
		<div class="my-link"><%= link_to "プロフィール編集", edit_user_path(@user),class: 'btn btn-outline-secondary btn-sm' %></div>
		<div class="my-link"><%= link_to "お気に入り一覧", like_users_path,class: 'btn btn-outline-secondary btn-sm' %></div>
		<div class="my-link"><%= link_to "下書き一覧", confirm_users_path ,class: 'btn btn-outline-secondary btn-sm'%></div>
		<% end %>
	<% end %>
</div>

<div class="row">
	<!-- ユーザーの投稿一覧 -->
	<%= render partial: 'users/posts/index',locals: { posts: @posts } %>
</div>