<% @posts.each do |post| %>
<h4>花火大会名</h4>
  <%= post.festival %>
<h4>都道府県名</h4>
  <%= post.prefecture %>
<h4>市町村名</h4>
  <%= post.city %>
<h4>画像</h4>
  <%= attachment_image_tag post, :image, :fill, 60, 60, format: 'jpeg', size:'60x60' %>
  <%= link_to "もっと見る", post_path(post.id) %>
<% end %>