<%= form_for(@user) do |f| %>
  <div class="row">
	  <div class="col-lg-6">
	    <h4>ユーザー編集</h4>
		    <%= attachment_image_tag @user, :profile_image, fallback: "no-image.jpg", id: "img_prev", format: 'jpeg', size:'200x200' %>
		    <%= f.attachment_field :profile_image %>
	   </div>
	   <div class="col-lg-6">
	     <h5>名前</h5>
		    <%= f.text_field :name %>
		 <h5>お住まいの都道府県</h5>
		    <%= f.select :prefecture, User.prefectures.keys, {} %>
		 <h5>自己紹介</h5>
			<%= f.text_area :introduction, :size=>"20x5" %>
			<%= f.submit '編集する' %>
		 <div>
			<%= link_to "パスワード変更", edit_user_registration_path(@user) %>
			<%= link_to "退会する",users_cancel_path(@user)%>
		 </div>
		</div>
    </div>
<% end %>