<script src="https://kit.fontawesome.com/17810510b7.js" crossorigin="anonymous"></script>
<div class="row">
<%= link_to user_path(@post.user) do %>
<h4><%= attachment_image_tag @post.user, :profile_image, format: 'jpeg', size:'80x80', fallback: "no-image.jpg", class: "img-circle"%></h4>
<% end %>
  <h2><%= @post.festival %></h2>
 <!--星評価-->
<div id="star-rate-<%= @post.id %>"></div>
<script>
 $('#star-rate-<%= @post.id %>').raty({
   size: 36,
   starOff:  '<%= asset_path('star-off.png') %>',
   starOn : '<%= asset_path('star-on.png') %>',
   starHalf: '<%= asset_path('star-half.png') %>',
   half: true,
   // 読み込み専用
   readOnly: true,
   score: <%= @post.rate %>});
</script>
<!---------->

  <%= @post.date %>
  <%= @post.prefecture %><%= @post.city %>
</div>
<div>by<%= @post.user.name %></div>

<div class="row">
  <%= attachment_image_tag @post, :image, format: 'jpeg', size:'200x200', fallback: "no-image.jpg" %>
  <%= @post.impressions %>
</div>
<div>交通手段:<%= @post.transportation %></div>
<div>持ち物:<%= @post.belongings %></div>

<!-- 編集、削除 -->
     <%= link_to "編集", edit_admins_post_path(@post)%>
     <%= link_to "削除", post_path(@post), method: :delete, "data-confirm" => "本当に消しますか?" %>


<!-- お気に入り -->
<%= render partial: 'users/likes/like',locals: { post: @post } %>


<!-- コメント -->
 　　<!-- id="comments_area"でこのdiv内をajaxで書き換え -->
    <div id="comments_area">
    <%= render partial: 'users/comments/index',locals: { comments: @comments, post: @post, comment: @comment } %>
    </div>
<%= link_to "TOPへ戻る", root_path %>
</div> 