
<h1>新規投稿</h1>

<%= form_for(@post, url: posts_path, method: :POST) do |f| %>
  <h4>花火大会名</h4>
  <%= f.text_field :festival %>
  <h4>開催年月日</h4>
  <%= f.date_select :date, {end_year: Time.now.year, start_year:1990, use_month_numbers: true} %>


 <!-- 評価 -->
  <div id="star">
    <%= f.label :rate,'評価 '%>
    <%= f.hidden_field :rate, id: :review_star %>
  </div>

  <!-- 評価javascript -->
  <script>
  $('#star').raty({
    size     : 36,
    starOff:  '<%= asset_path('star-off.png') %>',
    starOn : '<%= asset_path('star-on.png') %>',
    starHalf: '<%= asset_path('star-half.png') %>',
    // Postモデルのrateカラムに値を保存する
    scoreName: 'post[rate]',
    half: true,
  });
  </script>


  <h4>都道府県名</h4>
    <%= f.select :prefecture, Post.prefectures.keys, {} %>
  <h4>市町村名</h4>
  <%= f.text_field :city %>
  <h4>感想</h4>
  <%= f.text_area :impressions %>
  <h4>画像</h4>
  <div>
  <%= attachment_image_tag @post, :image, fallback: "no-image.jpg", id: "img_prev", format: 'jpeg', size:'200x200' %>
  <%= f.attachment_field :image %>
  </div>
  <h4>交通手段</h4>
  <%= f.text_field :transportation%>
  <h4>持ち物</h4>
  <%= f.text_field :belongings %>
  <h4>ステータス</h4>
   <%= f.select :status, [["下書き", "draft"],["公開", "published"]], id: "status", class: "form-control" %>
  <%= f.submit '投稿' %>

<% end %> 

