<script src="https://kit.fontawesome.com/17810510b7.js" crossorigin="anonymous"></script>

<%= link_to user_path(@post.user) do %>
<h4><%= attachment_image_tag @post.user, :profile_image, :fill, 60, 60, format: 'jpeg', size:'60x60' %></h4>
<% end %>
<h4><%= @post.user.name %>　さん</h4>
<h4>花火大会名</h4>
  <%= @post.festival %>
  <h4>日付</h4>
  <%= @post.date %>
<h4>評価：<%= @post.rate %>点</h4>

 <!--星評価-->
<div id="star-rate-<%= @post.id %>"></div>
<script>
 $('#star-rate-<%= @post.id %>').raty({
   size: 36,
   starOff:  '<%= asset_path('star-off.png') %>',
   starOn : '<%= asset_path('star-on.png') %>',
   starHalf: '<%= asset_path('star-half.png') %>',
   half: true,
   // 読み込み専用
   readOnly: true,
   score: <%= @post.rate %>});
</script>
<!---------->

<h4>都道府県名</h4>
  <%= @post.prefecture %>
<h4>市町村名</h4>
  <%= @post.city %>
<h4>感想</h4>
  <%= @post.impressions %>
<h4>画像</h4>
  <%= attachment_image_tag @post, :image, :fill, 200, 200, format: 'jpeg', size:'200x200' %>
<h4>交通手段</h4>
  <%= @post.transportation %>
<h4>持ち物</h4>
  <%= @post.belongings %>

   <!-- jQuery -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
   <!-- Google maps API -->
   <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAK7Oj3sQkS90cJI2VczXqYeJy8ZkPd_GY&callback=initMap" async></script>
   <style>
        /*500*500で表示させる*/
        #map{
            width: 500px;
            height: 500px;
        }
    </style>
<script>
  function initMap() {
    var mapPosition = new google.maps.LatLng( 35.6882495,139.6856557 );//緯度経度
    var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 17,//ズーム
    center: mapPosition
  });
    var marker = new google.maps.Marker({
    position: mapPosition,
    map: map
    });
  }
</script>
<div id="map"></div>

<!-- 編集、削除 -->
<% if @post.user.id == current_user.id %>
     <%= link_to "編集", edit_post_path(@post)%>
     <%= link_to "削除", post_path(@post), method: :delete, "data-confirm" => "本当に消しますか?" %>
<% end %>

<!-- お気に入り -->
<%= render partial: 'likes/like',locals: { post: @post } %>


<!-- コメント -->
 　　<!-- id="comments_area"でこのdiv内をajaxで書き換え -->
    <div id="comments_area">
    <%= render partial: 'comments/index',locals: { comments: @comments, post: @post, comment: @comment } %>
    </div>
<%= link_to "TOPへ戻る", root_path %>