<script src="https://kit.fontawesome.com/17810510b7.js" crossorigin="anonymous"></script>

<h4>花火大会名</h4>
  <%= @post.festival %>
<h4>評価：<%= @post.rate %>点</h4>

 <!--星評価-->
<div id="star-rate-<%= @post.id %>"></div>
<script>
 $('#star-rate-<%= @post.id %>').raty({
   size: 36,
   starOff:  '<%= asset_path('star-off.png') %>',
   starOn : '<%= asset_path('star-on.png') %>',
   starHalf: '<%= asset_path('star-half.png') %>',
   half: true,
   // 読み込み専用
   readOnly: true,
   score: <%= @post.rate %>});
</script>
<!---------->

<h4>都道府県名</h4>
  <%= @post.prefecture %>
<h4>市町村名</h4>
  <%= @post.city %>
<h4>感想</h4>
  <%= @post.impressions %>
<h4>画像</h4>
  <%= attachment_image_tag @post, :image, :fill, 200, 200, format: 'jpeg', size:'200x200' %>
<h4>交通手段</h4>
  <%= @post.transportation %>
<h4>持ち物</h4>
  <%= @post.belongings %>

<!-- 編集、削除 -->
<% if @post.user.id == current_user.id %>
     <%= link_to "編集", edit_post_path(@post)%>
     <%= link_to "削除", post_path(@post), method: :delete, "data-confirm" => "本当に消しますか?" %>
<% end %>

<!-- お気に入り -->
<%= render partial: 'likes/like',locals: { post: @post } %>


<!-- コメント -->

  <h4>コメント</h4>
 <!-- id="comments_area"でこのdiv内をajaxで書き換え -->
    <div id="comments_area">
    <%= render partial: 'comments/index',locals: { comments: @comments } %>
    </div>

    <% if user_signed_in? %>
    <h4>コメント投稿</h4>
    <%= form_with model:[@post, @comment], data: {remote: true} do |f| %>
    <%= f.text_field :content %>
    <%#= f.hidden_field :post_id, value: post.id %>
    <%= f.submit '送信' %>
    <% end %>
    <% end %>


<%= link_to "TOPへ戻る", root_path %>