<div class="row">
		<div class="mx-auto" style="width: 200px;">
			<%= form_with model: event,url: url, local: true do |f| %>
			    <form>
				    <div class="form-group">
					  <%= f.label :花火大会名 %><br>
					  <%= f.text_field :festival %>
				    </div>
				    <div class="form-group">
					  <%= f.label :開催年月日 %><br>
					  <%= f.datetime_field :start_time, {end_year: Time.now.year, start_year:2030, use_month_numbers: true} %>
					</div>
				    <div class="form-group">
					  <%= f.label :都道府県名 %><br>
					  <%= f.select :prefecture, Post.prefectures.keys, {} %>
					</div>
				    <div class="form-group">
					  <%= f.label :市町村名 %><br>
					  <%= f.text_field :city %>
					</div>
				    <div class="form-group">
					  <%= f.label :大会詳細 %><br>
					  <%= f.text_area :content %>
					</div>
				    <div class="form-group">
					  <%= f.label :交通情報 %><br>
					  <%= f.text_field :transportation%>
					</div>
				    <div class="form-group">
					  <%= f.label :イメージ %><br>
					  <% if event.event_image.nil?%>
					  <%= image_tag 'no-image.jpg',id: "img_prev",height:200 %>
					  <% else %>
					  <%= attachment_image_tag event, :event_image, fallback: "no-image.jpg", id: "img_prev", format: 'jpeg', height:200 %>
					  <% end %>
					  <%= f.attachment_field :event_image %>
					</div>
					<div class="form-group">
					  <%= f.submit submit, class: "btn btn-dark" %>
				    </div>
			    </form>
			<% end %>
	    </div>
</div>