<div class="row">
  <div class="col-lg-6 col-xs-12">
  	<h1>花火大会詳細</h1>
	  <%= attachment_image_tag @event, :event_image, format: 'jpeg', size:'300x300', fallback: "no-image.jpg",class: "fire-img" %>
  </div>
  <div class="col-lg-6 col-xs-12">
	<table class="table">
	  <tbody>
		<tr>
		  <td>花大会ID</td>
		  <td><%= @event.id %></td>
		</tr>
		<tr>
		  <td>花大会名</td>
		  <td><%= @event.festival%></td>
		</tr>
		<tr>
		  <td>開催日時</td>
		   <td><%= l @event.start_time %>~<td>
		</tr>
		<tr>
		  <td>開催場所</td>
		  <td><%= @event.prefecture %><%= @event.city %></td>
		</tr>
		<tr>
		  <td>コメント</td>
		  <td><%= @event.content %></td>
		</tr>
		<tr>
		  <td>交通情報</td>
		  <td><%= @event.transportation %></td>
		</tr>
	  </tbody>
	</table>
  	<%= link_to "編集", edit_admins_event_path(@event), class: "destroy-user btn btn-outline-secondary", data: {"turbolinks" => false}%>
    <%= link_to "削除", admins_event_path(@event), method: :delete, "data-confirm" => "本当に消しますか?", class: "destroy-user btn btn-outline-danger" %>
  </div>
</div>