<h1>花火大会詳細</h1>

<div class="row">
  <div class="col-6">
    <table class="table">

	    <tbody>
	        <tr>
	          <td>花大会ID</td>
	          <td><%= @event.id %></td>
	        </tr>
	        <tr>
	          <td>花大会名</td>
	          <td><%= @event.festival%></td>
	        </tr>
	        <tr>
	          <td>開催日時</td>
	           <td><%= l @event.start_time %>~<td>
	        </tr>
	        <tr>
	          <td>開催場所</td>
	          <td><%= @event.prefecture %><%= @event.city %></td>
	        </tr>
	        <tr>
	          <td>コメント</td>
	          <td><%= @event.content %></td>
	        </tr>
	        <tr>
	          <td>交通情報</td>
	          <td><%= @event.transportation %></td>
	        </tr>
	        <tr>
	          <td>イメージ</td>
	          <td><%= attachment_image_tag @event, :event_image, format: 'jpeg', size:'200x200', fallback: "no-image.jpg" %></td>
	        </tr>
        </tbody>
    </table>
  </div>
  <div class="col-6">

  	<div class="show">
      <div class="show__address">
      <%= @event.address %>
      </div>
      <div id="lat_data" style="visibility: hidden;"><%= @lat %></div>
      <div id="lng_data" style="visibility: hidden;"><%= @lng %></div>
      <div class="show__maps" id="show_map" style="height: 350px; width: 350px;"></div>
    </div>
  	<%= link_to "編集", edit_admins_event_path(@event), class: "destroy-user btn btn-outline-secondary", data: {"turbolinks" => false}%>
    <%= link_to "削除", admins_event_path(@event), method: :delete, "data-confirm" => "本当に消しますか?", class: "destroy-user btn btn-outline-danger" %>
  </div>
</div>

      <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_KEY']%>"></script>
      <script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
      <script src="//cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js" type="text/javascript"></script>