<header class="f-container">
<% if user_signed_in? %>

	<div class="f-item"><%= "#{current_user.name}" %>さん</div>
	<div class="f-item"><%= link_to "TOP", root_path %></div>
	<div class="f-item"><%= link_to "新規投稿", new_post_path %></div>
	<div class="f-item"><%= link_to "マイページ", user_path(current_user) %></div>
	<div class="f-item"><%= link_to "都道府県から探す" %></div>
	<div class="f-item"><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></div>

<% else%>
    <li><%= link_to "TOP", root_path %></li>
	<li><%= link_to "ABOUT",homes_about_path %></li>
	<li><%= link_to "都道府県から探す" %></li>
	<li><%= link_to "ログイン", new_user_session_path%></li>

<% end %>
<%= form_tag(search_posts_path,:method => 'get') do %>
  <%= text_field_tag :search %>
  <%= submit_tag '検索', :name => nil %>
<% end %>
</header>