<!DOCTYPE html>
<html>
  <head>
    <title>FiREWorks</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= include_gon %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- 日本地図 -->
    <script type="text/javascript" src="jquery.min.js"></script>
    <script type="text/javascript" src="jquery.japan-map.min.js"></script>
   <script type="text/javascript" src="jquery.japan-map.js"></script>
    <!-- スライドショー -->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/17810510b7.js" crossorigin="anonymous"></script>
    <!-- viewport meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>

  <body>
    <div>
      <%= render "layouts/header" %>
    </div>

    <div class='container'>
      <div class="main">
          <%= yield %>
      </div>
    </div>

    <div>
      <%= render "layouts/footer" %>
    </div>
  </body>
</html>
